[submodule "zsh.symlink/gnome-terminal-colors-solarized"]
	path = zsh.symlink/gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "vim.symlink"]
	path = vim.symlink
	url = git@github.com:DSIW/vim.git
